<link rel="stylesheet" href="/styles/header.css" />

<nav>
  <title>Smart To-Do-List App</title>
  <div class="links">
    <div class="topnav">
      <a class="active" href="#search">Search</a>
      <a href="/books">Reading</a>
      <a href="/purchase">Buying</a>
      <a href="/movies">Movies</a>
      <a href="/restaurant">Eating</a>
    </div>

    <div id="something">
    <form method="GET" action="/users" name="username">
      <button type="submit" id="login">login</button>
    </form>
    </div>
  </div>
</nav>


