<link rel="stylesheet" href="/styles/header.css" />

<nav>
  <title>Smart To-Do-List App</title>
  <div class="links">
    <div class="topnav">
      <a class="active" href="/"><button><span>Search</span></button></a>
      <a id="Reading" href="/category/books"><button><span>Reading</span></button></a>
      <a id="Buying" href="/category/purchase"><button><span>Buying</span></button></a>
      <a id="Watching" href="/category/movies"><button><span>Watching</span></button></a>
      <a id="Eating" href="/category/restaurant"><button><span>Eating</span></button></a>
    </div>

    <div id="something">
    <form method="GET" action="/users" name="username">
      <button type="submit" id="login"><span>login</span></button>
    </form>
    </div>
  </div>
</nav>


