<link rel="stylesheet" href="/styles/header.css" />

<nav>
  <title>Smart To-Do-List App</title>
  <section>
    <span>To Read</span>
    <span>To Buy</span>
    <span>To Watch</span>
    <span>To Eat</span>
    <span>search</span>
  </section>
  <div>logged in user name</div>
</nav>
