<link rel="stylesheet" href="/styles/header.css" />

<nav>
  <title>Smart To-Do-List App</title>
  <div class="links">
    <div class="topnav">
      <a class="active" href="#search"><button>Search</button></a>
      <a id="Reading" href="/books"><button>Reading</button></a>
      <a id="Buying" href="/purchase"><button>Buying</button></a>
      <a id="Watching" href="/movies"><button>Watching</button></a>
      <a id="Eating" href="/restaurant"><button>Eating</button></a>
    </div>

    <div id="something">
    <form method="GET" action="/users" name="username">
      <button type="submit" id="login">login</button>
    </form>
    </div>
  </div>
</nav>


