<nav>
  <section>
    <a href='users/category/:Movie'>Movie List</a>
    <a href='users/category/:to-read'>Book List</a>
    <a href='users/category/:to-buy'>Shopping List</a>
    <a href='users/category/:to-eat'>Eat-out List</a>
  </section>
  <div>logged in user name</div>
</nav>
