<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <title>Smart To-Do-List App</title>
    <section>
      <span>To Read</span>
      <span>To Buy</span>
      <span>To Watch</span>
      <span>To Eat</span>
      <span>search</span>
    </section>
    <div>logged in user name</div>
  </nav>

</body>

</html>
