<link rel="stylesheet" href="/styles/header.css" />

<nav>
<<<<<<< HEAD
  <title>Smart To-Do-List App</title>
  <div class="links">
    <div class="topnav">
      <a class="active" href="#search">Search</a>
      <a href="#to_read">Reading</a>
      <a href="#to_buy">Buying</a>
      <a href="#to_watch">Movies</a>
      <a href="#to_eat">Eating</a>
    </div>

    <div>
    <form method="GET" action="/users" name="username">
      <button type="submit">login</button>
    </form>
    </div>
  </div>
=======
  <section>
    <a href='users/category/:Movie'>Movie List</a>
    <a href='users/category/:to-read'>Book List</a>
    <a href='users/category/:to-buy'>Shopping List</a>
    <a href='users/category/:to-eat'>Eat-out List</a>
  </section>
  <div>logged in user name</div>
>>>>>>> ea6324aa427fdea54d8156e84a4199e367120ec1
</nav>


