<link rel="stylesheet" href="/styles/header.css" />

<nav>
  <title>Smart To-Do-List App</title>
  <div class="links">
    <div class="topnav">
      <a class="active" href="#search">Search</a>
      <a href="#to_read">Reading</a>
      <a href="#to_buy">Buying</a>
      <a href="#to_watch">Movies</a>
      <a href="#to_eat">Eating</a>
    </div>

    <div>
    <form method="GET" action="/users" name="username">
      <button type="submit">login</button>
    </form>
    </div>
  </div>
</nav>


