$font-stack: Papyrus, sans-serif;
$primary-color: black;
$background-color: violet;

nav {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: $font-stack;
  color: $primary-color;
  background-color: $background-color;
  width: 100%;
  margin-bottom: 5em;
  height: 120px;
}

.topnav {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-right: 0em;
  color: $primary-color;
  margin-right: 20em;
  font: $font-stack;

}


a {
  margin-right: 2em;
  margin-top: 5em;
}

.links {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

#something {
  color: red;
display: flex;
background-color: yellow;

align-content: space-between;
margin-top: 2em;
}





