// See: https://sass-lang.com/

body {
  background-color: #4a4545;
  padding-top: 0em;
}
html {
  margin: 0;
}

#search-form {
  margin-top: 10em;
  background-color: #4a4545;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.text {
  border-radius: 25px;
  padding-top: 1.2em;
  margin-top: 5em;
  position: relative;
}


#submit {
  display: inline-block;
  border-radius: 4px;
  background-color: #2C74B3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2em;
}

#submit:hover {
  background-color: #29669b;
}

